<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <title>Restaurant</title>

</head>

<body onLoad="search()">
  <!-- HEADER -->
  <div class="header py-5">
    <div class="container">
      <p class="courier-new text">ค้นหาร้านอาหารในประเทศไทย</p>
      <div class="row justify-content-md-center">
        <div class="col-10 col-md-8 col-lg-6">
          <input type="text" id="inputLocation" class="form-control" placeholder="Please enter the location" value="">
        </div>
        <button id="searchLocation" type="submit" onclick="search()" class="btn"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-around">
      <!-- GOOGLE MAP -->
      <div id="googleMap" class="col-12 col-lg-6 mt-3"></div>
      <!-- SEARCH RESULTS -->
      <div id="results" class="col-12 col-lg-5" style="margin-top: 10px;"></div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer class="footer">
    <span>COPYRIGHT &copy; 2019</span>
    <span>All Rights Reserved. Website by Thanapong Somjai
  </footer>




  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script>
    // Press Enter to search
    $(document).ready(function () {
      $('#inputLocation').keypress(function (e) {
        if (e.keyCode == 13)
          search()
      })
    })
    // Search function HTTP request to server
    function search() {
      var input = $("#inputLocation").val() || 'Bang sue'
      console.log('input : ', input)
      $.ajax({
        url: "http://localhost:8081/search",
        type: 'get',
        data: { input },
        success: function (res) {
          showResults(res)
        },
        error: function (error) {
          alert('error');
          console.log(error)
        }
      });
    }
    // Show results from searching
    function showResults(data) {
      $('#results').empty() // Clear previous results
      var results = data.data
      for (var i in results) {
        var rating = results[i].rating
        var hidden = ''
        var ratingColor = 'red'
        if (rating == undefined) hidden = 'hidden'
        if (rating % 1 == 0) rating = rating + '.0'
        if (rating < 1) ratingColor = '#805A5A'
        else if (rating < 2) ratingColor = '#BA8A8A'
        else if (rating < 3) ratingColor = '#E88181'
        else if (rating < 4) ratingColor = '#EA4F4F'
        if (i > 5) break
        $('#results').append(`<div id='result'>
          <div class='courier-new result-parent'><img class='result-icon' src='${results[i].icon}' /> ${results[i].name}
            <span class='result-rate' style='background-color: ${ratingColor};' ${hidden}>&#x2605 <span class='result-rate-point'>${rating}</span></span>
          </div>
          <div class='result-location'><i class='fas fa-map-marked-alt'></i>
            <span class='result-vicinity'> ${results[i].vicinity}</span>
          </div>
        </div>`);
      }
      myMap(data) // Map drawing
    }
    //Draw the map
    function myMap(data) {
      latInput = Number(data.lat)
      lgnInput = Number(data.lng)
      var results = data.data
      // Map and its center
      var myCenter = { lat: latInput || 13.8206972, lng: lgnInput || 100.5239867 }
      var map = new google.maps.Map(document.getElementById('googleMap'), {
        zoom: 15,
        center: myCenter
      })
      // Mark result's location
      for (var i in results) {
        if (i > 5) break
        var lat = results[i].geometry.location.lat
        var lng = results[i].geometry.location.lng
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(lat, lng),
          icon: `http://maps.google.com/mapfiles/kml/paddle/${i}-lv.png`,
          map: map
        })
      }
      var map = new google.maps.Map(document.getElementById("googleMap"), mapProp)
    }
  </script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1eRY8gOTMX97MLzHZuSrR5Dc8ZFTHBG4&libraries=places&callback=myMap"></script>
</body>

</html>